/*body{
    background-image: url("../img/pexels-ameruverse-digital-marketing-media-1643402.jpg");
    font-family: 'Chicle', cursive;
    color: skyblue;
    padding: 40px;
}*/

/*h1 {
    text-align: center;
    font-size: 60px;
}

p {
    text-align: center;
    font-size: 35px;
}

ul{
    text-align: left;
    font-size: 35px;
}

button {
    background-color: antiquewhite;
    color:rgb(69, 55, 50);
    font-family: 'Chicle', cursive;
    font-size: 30px;
    margin-left: 44%;
} */
.logo-gato{
    max-height: 50px;
}

#greeting, #bienvenido, #contiene,#lista, #botonDimeTu{
    font-family: 'Chicle', cursive;
}
.main-container {
    min-height: 60vh;
}